<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= folder.name %> - File Uploader</title>
  </head>
  <body>
    <%- include("partials/navbar", { links: links }) %>
    <main>
      <header>Edit folder: <%= folder.name %></header>
      <form action="/folder/edit/<%= folder.id %>" method="POST">
        <label for="folder">Folder name:</label>
        <input type="text" name="folder" id="folder" value="<%= folder.name %>" required autocomplete="off" autofocus>
        <button type="submit">Save</button>
      </form>
      <div>
        <p>The folder needs to be empty before deleting it!</p>
        <button onclick="window.location.href = '/folder/delete/<%= folder.id %>'">Delete</button>
      </div>
    </main>
  </body>
</html>