<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.name %> - File Uploader</title>
  </head>
  <body>
    <%- include("partials/navbar", { links: links }) %>
    <main>
      <header>File: <%= file.name %></header>
      <p>Size: <%= file.sizeInBytes * 10**-3 %> KB</p>
      <p>Upload time: <%= file.uploadTime %></p>
      <p>Folder: <%= file.folder.name %></p>
      <button onclick="window.location.href = '/file/download/<%= file.id %>'">Download</button>
      <button onclick="window.location.href = '/file/delete/<%= file.id %>'">Delete</button>
    </main>
  </body>
</html>