<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= folder.name %> - File Uploader</title>
  </head>
  <body>
    <%- include("partials/navbar", { links: links }) %>
    <main>
      <div>
        <header>Folder: <%= folder.name %></header>
        <form action="/file/upload/<%= folder.id %>" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" required>
          <button type="submit">Upload</button>
        </form>
        <form action="/folder/create/<%= folder.id %>" method="POST">
          <input type="text" name="folder" required autocomplete="off">
          <button type="submit">Create Folder</button>
        </form>
      </div>
      <ul>
        <% if (folder.parent_id) { %>
          <li>
            <a href="/folder/<%= folder.parent_id %>">../</a>
          </li>
        <% } %>
        <% items.forEach((item) => { %>
          <% if (item.url) { %>
            <li><%= item.name %></li>
          <% } else { %>
            <li>
              <a href="/folder/<%= item.id %>"><%= item.name %>/</a>
              <button onclick="window.location.href = '/folder/edit/<%= item.id %>'">Edit</button>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </main>
  </body>
</html>